---
export interface Props {
  title: string;
  picture: string;
  subtitle?: string;
  href: string;
  date?: string | number;
  description?: string;
}

const { title, subtitle, href, picture, date, description } = Astro.props;
---

<div class="card">
  <a href={href}>
    <img src={`/assets/${picture}`} />
    <span>{subtitle ?? ''}</span>
    <div>
      <h4>{title}</h4>
      <span>{date}</span>
    </div>
  </a>
  {description && <p>{description}</p>}
</div>

<style>
  a > div {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }

  .card a {
    text-decoration: none;
    color: inherit;
  }

  span {
    font-size: var(--text-xs);
    font-weight: 300;
    color: var(--color-text-sub);
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  p {
    font-weight: 300;
  }
</style>
