---
import button from '../styles/button.module.css';
interface Props {
  viewAll?: string;
  name: string;
}

const { viewAll, name } = Astro.props;
---

<section>
  <div class="section-details">
    <h2>{name}</h2>
    {
      viewAll && (
        <a
          class={`${button.button} ${button.outlined} ${button.border}`}
          href={viewAll}
          aria-label={`View all projects`}
        >
          View All
        </a>
      )
    }
  </div>
  <div class="cards-container">
    <slot />
  </div>
</section>

<!-- <style is:global>
  @media only screen and (min-width: 600px) {
    .cards-container .card {
      height: 500px;
    }
    .cards-container .card:nth-child(1),
    .cards-container .card:nth-child(2) {
      grid-column: span 2;
    }
  }
</style> -->

<style lang="scss">
  section {
    padding-top: 2rem;
  }
  section h2 {
    font-size: var(--text-xl);
    color: var(--color-accent-2);
    pointer-events: none;
    user-select: none;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, fit-content);
    row-gap: 2rem;
    column-gap: 3rem;
    justify-content: center;
    justify-items: center;
  }

  .section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: var(--main-margin-y);
  }

  /* section :global(> *) {
  } */

  @media only screen and (min-width: 600px) {
    .section-details {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    a.button {
      max-width: 150px;
    }
  }
  /* @media only screen and (min-width: 600px) {
    section > .cards-container {
      grid-template-columns: repeat(auto-fit, minmax(calc(100% / var(--columns) - var(--columns) * 2rem), 1fr));
    }
  } */
</style>
