---
export interface Props {
  title: string;
  picture: string;
  subtitle?: string;
  href: string;
  date?: string | number;
  description?: string;
  tags: string[];
}

const { title, subtitle, href, picture, date, description, tags } = Astro.props;
import tagsMap, { Tag } from '../projects/tags';
let tagData: Tag[] = [];

// If tags are supplied, get their title and url from tagsmap
if (tags) {
  tagData = tags.map((t) => {
    return t in tagsMap
      ? tagsMap[t as keyof typeof tagsMap]
      : { title: '', href: '' };
  });
}
---

<div class="card">
  <a href={href}>
    <div class="picture">
      <img src={`/assets/${picture}`} />
    </div>
    <div class="card-body">
      <div class="body-title">
        <h4>{title}</h4>
        <span>{date}</span>
      </div>
      <span>{subtitle ?? ''}</span>
      {description && <p>{description}</p>}
    </div>
  </a>

  <div class="tags">
    {
      tagData &&
        tagData.map(
          ({ title, href }) =>
            title && (
              <a target="_blank" href={href} class="tag">
                {title}
              </a>
            ),
        )
    }
  </div>
</div>

<style lang="scss" define:vars={{ length: '10px' }}>
  .body-title {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 100%;
    background: var(--color-surface-4);
    display: flex;
    flex-direction: column;
  }

  .card a {
    text-decoration: none;
    color: inherit;
  }

  .card-body {
    padding: 1rem 1rem 0rem 1rem;
    background: var(--color-surface-4);
  }

  .picture {
    max-height: 60%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .card h4 {
    font-size: var(--text-md);
  }

  span {
    display: inline-block;
    font-size: var(--text-xs);
    font-weight: 400;
    color: var(--color-text-sub);
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  p {
    font-weight: 400;
    font-size: var(--text-xs);
    opacity: 0.7;
    padding-bottom: 0.75rem;
    max-height: 100px;
    overflow: overlay;
  }

  p::-webkit-scrollbar {
    position: absolute;
    opacity: 0;
    width: 0em;
  }

  .tags {
    display: flex;
    flex-basis: 100%;
    gap: 0.5rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-text-sub);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    background: var(--color-surface-3);
    padding: 1rem;
  }

  .tag {
    display: inline-block;
    height: fit-content;
    font-size: var(--text-xs);
    background: var(--color-surface-2);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
  }

  // loop through tags changing color
  // because custom properties only work in property declarations
  // we need to specify a max number of elements
  $n: 4;
  @for $i from 0 to $n {
    $hue: 239;
    $saturation: 73;
    $lightness: 57;
    $alpha: 1;

    .tags a:nth-child(#{$i + 1}) {
      background: hsla($hue, $saturation * 1%, $lightness * 1%, $alpha);
    }
  }
</style>
